<header class="inf-card">
  <div class="inf-card-body">
    <div class="header-left">
      <img src="assets/images/inferno-banner.png" class="inf-banner" alt="[Logo inferno]">
      <div class="links mt-2">
        <div class="faction">
          <img src="assets/images/horde-logo.png" class="link-image" alt="Pour la Horde">
          <span class="link-title">Guilde WoW Classic</span>
        </div>
        <div class="link">
          <a href="https://discord.gg/6gu9dymD" target="_blank" rel="noopener noreferrer"
             title="Rejoindre le discord Inferno">
            <fa-icon [icon]="faDiscord"></fa-icon>
            <span class="link-title">Discord</span>
          </a>
        </div>
        <div class="link">
          <a href="https://classic.warcraftlogs.com/guild/calendar/582278" target="_blank" rel="noopener noreferrer"
             title="Logs de la guilde">
            <img src="assets/images/wlogs-logo.png" class="link-image wl-icon" alt="wol-icon">
            <span class="link-title">Logs</span>
          </a>
        </div>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet. Quo perspiciatis soluta est quisquam dolorem vel voluptas quae ea fugiat excepturi
      et dolorem libero et voluptatem nihil. Aut molestiae odit et molestiae numquam et recusandae Quis et dolor
      maxime in nesciunt corrupti qui veritatis sapiente. Et necessitatibus accusamus qui rerum iste ea voluptates.
    </p>
  </div>
</header>
