<header class="inf-card">
  <div class="inf-card-body">
    <div class="header-left">
      <img src="assets/images/inferno-banner.png" class="inf-banner" alt="[Logo inferno]">
      <div class="links">
        <div class="faction">
          <img src="assets/images/horde-logo.png" class="link-image" alt="Pour la Horde">
          <span class="link-title">Guilde WoW Classic</span>
        </div>
        <div class="link">
          <a href="https://discord.gg/mczsgp8QKQ" target="_blank" rel="noopener noreferrer"
             title="Rejoindre le discord Inferno">
            <fa-icon [icon]="faDiscord"></fa-icon>
            <span class="link-title">Discord</span>
          </a>
        </div>
        <div class="link">
          <a href="https://classic.warcraftlogs.com/guild/calendar/582278" target="_blank" rel="noopener noreferrer"
             title="Logs de la guilde">
            <img src="assets/images/wlogs-logo.png" class="link-image wl-icon" alt="wol-icon">
            <span class="link-title">Logs</span>
          </a>
        </div>
      </div>
    </div>
    <p class="text-justify">
      Créé le 1er Avril 2020, Inferno, est une guilde réunissant une communauté de joueurs soudés et matures dans le but
      de construire une guilde agréable où chacun a l'opportunité de s'épanouir en apportant une pierre à l'édifice.
      Notre but est de clean au mieux le contenu du jeu mais sans toutefois oublier aucun d'entre nous. C'est pour cela
      que personne est mis de coté et nous nous adaptons à chacun. Ceci reste un jeu et le restera pour tous les membres
      Inferno.
    </p>
  </div>
</header>
