$background-color: #121212;
$section-color: #282822;
$theme-color-high: #c7c3c9;
$theme-color-low: #495057;

$contrast-color-high: #507B09;
$contrast-color-low: #b4bf34;

$admin-header-height: 70px;
$admin-footer-height: 70px;
$admin-nav-width: 250px;

$admin-header-height: 70px;
$admin-footer-height: 70px;
$admin-nav-width: 250px;
